#Data Loading

In [ ]:
import pandas as pd
from datetime import datetime, timedelta
import os

In [ ]:
#Carga de datos
os.chdir("/content/drive/MyDrive/TAC Notebooks/TA Final/archive/")

In [ ]:
#TODO:
#Dataframe: Concat week text | Current week open | Next week open | Absolute change | Relative change | Type of change (Positive, Negative)

#carga dataset tweets
used_cols = ["body","ticker_symbol","current_monday"]
df_company = pd.read_csv("Company.csv")
df_company_tweet = pd.read_csv("Company_Tweet.csv")
df_tweet = pd.read_csv("Tweet.csv")
df_tweet.post_date = df_tweet.post_date.apply(datetime.fromtimestamp)
#Juntamos los dataset
df_tweets = pd.merge(df_tweet,df_company_tweet,on='tweet_id',how='left')
#Finding corresponding monday to each tweet
df_tweets["current_monday"] = df_tweets.post_date.apply(lambda x:(x - timedelta(days = x.weekday())).replace(hour=0, minute=0, second=0))
df_tweets = df_tweets[used_cols]
#carga de datos acciones
used_cols = ["Date","Open"]
df_stocks = None
for ticker_symbol in df_company.ticker_symbol:
  df_ticker_stocks = pd.read_csv(ticker_symbol+".csv")
  df_ticker_stocks["ticker_symbol"] = ticker_symbol
  if df_stocks is None: df_stocks = df_ticker_stocks
  else: df_stocks = pd.concat([df_stocks,df_ticker_stocks])
df_stocks.Date = df_stocks.Date.apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [ ]:
#Procesamiento de data financiera
df_stocks["next_monday"] = df_stocks.Date.apply(lambda x:x + timedelta(days = 7))
df_stocks = pd.merge(df_stocks,df_stocks.drop(columns="next_monday"),left_on=["ticker_symbol","next_monday"],right_on=["ticker_symbol","Date"],how='left')
df_stocks.dropna(inplace=True)
df_stocks.drop(columns="Date_y",inplace=True)
df_stocks.rename(columns={'Date_x': 'Date'}, inplace=True)
df_stocks["abs_dif"] = df_stocks.Open_y - df_stocks.Open_x
df_stocks["rel_dif"] = (df_stocks.Open_y - df_stocks.Open_x) / df_stocks.Open_x
df_stocks["type_dif"] = df_stocks.abs_dif.apply(lambda x: 0 if x==0 else x/abs(x)).astype("int32")
df_stocks.rename(columns={"Date":"current_monday"},inplace=True)
#Concatenamos tweets por dia y por empresa
df_tweets = df_tweets.groupby(["ticker_symbol","current_monday"]).body.apply('. '.join).reset_index()
#Combinamos los dataset
df = pd.merge(df_tweets,df_stocks,on=["current_monday","ticker_symbol"],how="left")

In [ ]:
df.head()

  ticker_symbol current_monday  ...   rel_dif  type_dif
0          AAPL     2014-12-29  ... -0.048335        -1
1          AAPL     2015-01-05  ...  0.039801         1
2          AAPL     2015-01-12  ... -0.042274        -1
3          AAPL     2015-01-19  ...  0.054711         1
4          AAPL     2015-01-26  ...  0.037894         1

[5 rows x 19 columns]

In [ ]:
df.shape

(1572, 19)

In [ ]:
#Guardar dataset
df.to_csv("concat_dataset.csv",index=False)

In [ ]:
#Dataset de registros no concatenados
df.head()

                                                body  ... type_dif
0  lx21 made $10,008  on $AAPL -Check it out! htt...  ...       -1
1  Insanity of today weirdo massive selling. $aap...  ...       -1
2  S&P100 #Stocks Performance $HD $LOW $SBUX $TGT...  ...       -1
3  $GM $TSLA: Volkswagen Pushes 2014 Record Recal...  ...       -1
4  Swing Trading: Up To 8.91% Return In 14 Days h...  ...       -1

[5 rows x 19 columns]

In [ ]:
df.shape

(4336445, 19)

In [ ]:
#Guardamos dataset sin concatenar tweets
df.to_csv("non_concat_dataset.csv",index=False)

#Data Preprocessing

In [ ]:
pip install -q tf-models-official==2.4.0

     |████████████████████████████████| 1.1MB 5.1MB/s
     |████████████████████████████████| 38.2MB 113kB/s
     |████████████████████████████████| 174kB 47.1MB/s
     |████████████████████████████████| 358kB 45.3MB/s
     |████████████████████████████████| 1.2MB 38.9MB/s
     |████████████████████████████████| 645kB 32.5MB/s
     |████████████████████████████████| 686kB 35.4MB/s
     |████████████████████████████████| 102kB 9.6MB/s
     |████████████████████████████████| 51kB 6.3MB/s
  Building wheel for py-cpuinfo (setup.py) ... done
  Building wheel for seqeval (setup.py) ... done

In [ ]:
import numpy as np
import matplotlib.pyplot as plt

import tensorflow as tf

import tensorflow_hub as hub
import tensorflow_datasets as tfds
tfds.disable_progress_bar()

from official.modeling import tf_utils
from official import nlp
from official.nlp import bert

#submodulos requeridos para prueba
import official.nlp.optimization
import official.nlp.bert.bert_models
import official.nlp.bert.configs
import official.nlp.bert.run_classifier
import official.nlp.bert.tokenization
import official.nlp.data.classifier_data_lib
import official.nlp.modeling.losses
import official.nlp.modeling.models
import official.nlp.modeling.networks

In [ ]:
gs_folder_bert = "gs://cloud-tpu-checkpoints/bert/v3/uncased_L-12_H-768_A-12"
tf.io.gfile.listdir(gs_folder_bert)

['bert_config.json',
 'bert_model.ckpt.data-00000-of-00001',
 'bert_model.ckpt.index',
 'vocab.txt']

In [ ]:
glue, info = tfds.load('glue/mrpc', with_info=True,
                       batch_size=-1)